<div class="row">

	<div class="span3">
		<h3>contact us</h3>
		<p><a href="mailto:dartmouth.hacker.club@dartmouth.edu">dartmouth.hacker.club@dartmouth.edu</a></p>
    </div>
    <div class="span3">
		<h3>mailing list</h3>
		<p><a href="http://groups.google.com/group/dartmouthcsclub">dartmouthcsclub@googlegroups.com</a></p>
        <p><a href="https://orgsync.com/join/84954/dartmouth-hacker-club">Join on OrgSync</a></p>
    </div>
    <div class="span3">
        <h3>current officers</h3>
        <h5>Ziyuan Liu '16</h5>
        <h5>Kaya Thomas '17</h5>
        <h5>Vanny Nguyen '17</h5>
    </div>
    <div class="span3">
        <h3>current captains</h3>
        <h5>Marco Peraza '14</h5>
        <h5>Delos Chang '14</h5>
        <h5>Zach Denton '15</h5>
	</div>
</div>
