<div class="row">
	<div class="span3">
		<h2>about us</h2>
        <p>We build useful and fun apps for the Dartmouth community.</p>
        <p>We meet to work on Hacker Club projects at 4pm on Tuesdays.</p>
        <p>Web development workshops are at 4pm on Thursdays.</p>
	</div>
	<div class="span6">
		<h2>recent projects</h2>
		<h4><a href="http://courses.hackdartmouth.org/">Course Picker</a></h4>
		<p>Integrated info from the registrar timetables, ORC, median data, course guide, and so much more.</p>
		<h4><a href="http://blitz.hackdartmouth.org/">Blitz List Maker</a></h4>
		<p>Turn a list of names, nicknames, or out-of-date emails into a list of emails.</p>
		<h4><a href="http://dnd-search.hackdartmouth.org/">DND Search</a></h4>
		<p>The fastest way to find someone's email address.</p>
	</div>
	<div class="span3">
		<h2>contact us</h2>
		<p><a href="mailto:hackdartmouth@gmail.com">hackdartmouth@gmail.com</a></p>
		<h2>mailing list</h2>
		<p><a href="http://groups.google.com/group/dartmouthcsclub">dartmouthcsclub@googlegroups.com</a></p>
	</div>
</div>
