<div class="row">
	<div class="span8">
		<h2>projects</h2>
		<h4><a href="http://courses.hackdartmouth.org/">Course Picker</a></h4>
		<p>Integrated info from the registrar timetables, ORC, median data, course guide, and so much more.</p>
		<h4><a href="http://blitz.hackdartmouth.org/">Blitz List Maker</a></h4>
		<p>Turn a list of names, nicknames, or out-of-date emails into a list of emails.</p>
		<h4><a href="http://dnd-search.hackdartmouth.org/">DND Search</a></h4>
		<p>The fastest way to find someone's email address.</p>
	</div>
	<div class="span4">
		<h2>get involved!</h2>
        <p>We build cool apps for the Dartmouth community.</p>
        <h3>weekly hacking</h3>
        <small>Tues 4pm @ Sudikoff 143</small>
        <p>Hack on projects, meet new people, bring your ideas.</p>
        <h3>learn</h3>
        <small>Thurs 4pm @ Sudikoff 143</small>
        <p>Learn web dev from the ground up. No experience required.</p>
	</div>
</div>
