<div class="row">
	<div class="span3">
		<h2>about us</h2>
		<p>Hacker Club is a group of students interested in web and mobile app development.</p>
		<p>Meetings are at 4pm on Wednesdays and Fridays in Sudikoff 002 (subject to change &mdash; check <a href="https://groups.google.com/group/dartmouthcsclub">the mailing list</a>).</p>
	</div>
	<div class="span6">
		<h2>recent projects</h2>
		<h4><a href="http://coursetown.hacktown.cs.dartmouth.edu/">Course Picker</a></h4>
		<p>Integrated info from the registrar timetables, ORC, median data, course guide, and so much more.</p>
		<h4><a href="http://hacktown.cs.dartmouth.edu/blitzlistmaker/">Blitz List Maker</a></h4>
		<p>Turn a list of names, nicknames, or out-of-date emails into a list of emails.</p>
	</div>
	<div class="span3">
		<h2>contact us</h2>
		<p><a href="mailto:hackerclub-core@gmail.com">hackerclub-core@gmail.com</a></p>
		<h2>join the mailing list</h2>
		<p><a href="http://groups.google.com/group/dartmouthcsclub">dartmouthcsclub@google groups</a></p>
	</div>
</div>
