// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

#life {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -10;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#life:hover {
	cursor: pointer;
}

#life.mouseDown {
	cursor: crosshair;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Orbitron', sans-serif;
}

h1#maintitle {
	font-size: 8em;
	color: #0F0;
	text-shadow: 0px 2px 2px #030;
	text-align: right;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#hero {
	padding: 0;
	margin: 0;
	height: 120px;
}

#hero-inner {
	margin-top: 120px;
}

#front-wrapper {
	margin-top: 350px;
}

.content {
	background-color: white;
}

.navbar, .navbar-search .search-query {
	font-family: 'Orbitron', sans-serif;
}

.navbar .brand {
	padding-top: 12px;
}

.navbar .nav > li > a {
	padding-top: 11px;
}

a#github-link {
	color: rgb(51, 51, 51);
}

article {
	border-radius: 0 !important;
	margin: 0;
}

@media (max-width: 767px) { 
	h1#maintitle {
		font-size: 5em;
		text-align: center;
	}
}
